<legend><h3>Lista de publicaciones en Web Geología</h3></legend>

<table class="table table-condensed table-condensed table-bordered">
  <thead>
    <tr>
      <th>Título</th>
      <th>Contenido</th>
      <th>Estatus</th>
      <th>Prioridad</th>
      <th>Solicitado por</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.desc %></td>
        <td><%= article_status(article.status_id) %></td>
        <td><%= article_priority article.priority %></td>
        <td><%= article.requested_by %></td>
        <td><%= link_to 'Detalles', article, :class => "btn btn-info btn-sm" %></td>
        <td><%= link_to 'Modificar', edit_article_path(article), :class => "btn btn-warning btn-sm"   %></td>
        <td><%= link_to 'Eliminar', article, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar solicitud de publicación', new_article_path, :class => "btn btn-primary btn-sm" %>
